{% extends "base.html" %}
{% load static %}
{% block title %}
  Home | Our Site
{% endblock title %}
{% block content %}
  <section class="container">
    <div class="row my-3">
      <div class="col-8">
        <div class="input-group">
          <span class="input-group-text bg-dark"><i class="fas fa-search"></i></span>
          <input class="form-control bg-dark text-light" type="text" id="search" placeholder="Search">
        </div>
      </div>
      <div class="col-4">
        <div class="input-group">
          <span class="input-group-text bg-dark text-light">Sort by:</span>
          <select class="form-select bg-dark text-light" aria-labelledby="sortby">
            <option value="newest">Newest Arrivals</option>
            <option value="price-high-to-low">Price: High to Low</option>
            <option value="price-low-to-high">Price: Low to High</option>
          </select>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-3">
        <aside class="catalog">
          <div class="title mb-2">
            <i class="fas fa-book-open me-2"></i>
            <span>Category</span>
          </div>
          {% if categories %}
            <ul class="list-group">
              {% for category in categories %}
                <li class="list-group-item"><a href="#">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            <span>No categories available</span>
          {% endif %}
        </aside>
      </div>
      <div class="col-9">
        {% if items %}
          <div class="d-flex justify-content-evenly">
            {% for item in items %}
              <div class="card">
                <a href="{% url 'item' item.id %}">
                  <img class="card-img" src="{{ item.picture.url }}" alt="shoes">
                </a>
                <div class="card-body bg-dark">
                  <h5 class="card-title">
                    <a href="{% url 'item' item.id %}">{{ item.title }}</a>
                  </h5>
                  <p class="card-text"> 
                    <span>Rating: {{ item.rating }}</span>
                    <span style="float: right;">${{ item.price }}</span>
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <h3>No items available!</h3>
        {% endif %}
      </div>
    </div>

    
  </section>
{% endblock content %}
