{% extends "base.html" %}
{% load static %}
{% block title %}
  Home | Our Site
{% endblock title %}
{% block content %}
  <section class="container">
    <div class="container sort-panel">
      <div class="search-field">
        <i class="fas fa-search d-inline"></i>
        <input class="text-input d-inline" type="text" id="search" placeholder="Search">
      </div>
      <div class="sort-combo">
        <label for="price-select">Sort by: </label>
        <select name="price-select" id="price-select">
          <option value="newest">Newest Arrivals</option>
          <option value="price-high-to-low">Price: High to Low</option>
          <option value="price-low-to-high">Price: Low to High</option>
        </select>
      </div>
    </div>
  </section>
  <section class="container" id="catalog-content">
    <aside class="catalog">
      <div class="title">
        <i class="fas fa-book-open"></i>
        <span>Category</span>
      </div>
      <ul>
        <li><a href="#">Boots</a></li>
        <li><a href="#">Sneakers</a></li>
        <li><a href="#">Boat Shoes</a></li>
      </ul>
    </aside>
    <div class="items">
      {% if items %}
        <ul class="items-list">
        {% for item in items %}
          <li class="items-list-item">
            <div class="item">
              <a href="items/{{ item.id }}">
                <img class="item-image" src="{{ item.picture.url }}" alt="shoes">
                <div class="item-description">
                  <span class="title">{{ item.title }}</span>
                  <span class="rating">Rating: {{ item.rating }}</span>
                  <span class="price">${{ item.price }}</span>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
{% endblock content %}
