{% extends 'base.html' %}
{% load static %}
{% block title %}
  Orders | Our site
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Orders</h1>
      </div>
    </div>
    {% if orders %}
      <ul class="list-group">
        {% for order in orders %}
          <li class="list-group-item">
            <a href="{% url 'order' order.id %}">{{ order.created }} <span class="float-end">Total: ${{order.total_price}}</span> </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No orders found</p>
    {% endif %}
  </div>
{% endblock content %}