{% extends 'base.html' %}
{% load static %}
{% block title %}
  Prepare return request | Our site
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Return request</h1>
      </div>
    </div>
    <div class="row">
      {% if order_items|length != 0 %}
        <div class="d-flex justify-content-evenly">
          {% for order_item in order_items %}
            <div class="card">
              <img class="card-img" src="{{ order_item.item.picture.url }}" alt="shoes">
              <div class="card-body bg-dark">
                <h5 class="card-title">{{ order_item.item.title }}</h5>
                <p class="card-text"> 
                  <span>Rating: {{ order_item.item.rating }}</span>
                  <span style="float: right;">${{ order_item.item.price }}</span>
                </p>
              </div>
              <ul class="list-group list-group-flush w-100">
                <li class="list-group-item">Amount: {{order_item.quantity}}</li>
              </ul>
              <div class="card-footer w-100">
                <div class="d-grid">
                  <a class="btn btn-outline-danger" href="{% url 'create return request' order_item.id %}">Return</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}