:root {
  --max-width: 1000px;
  --bg-color: #333533;
  --grey: #343a40;
  --light: #fcfcfc;
  --dark: #242423;
  --default-text-color: #fcfcfc;
  --accent-color: #f5cb5c;
  --primary-color: #118ab2;
  --danger-color: #ef476f;
  --warning-color: #ffd166;
  --success-color: #06d6a0;
  --secondary-color: #e8eddf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bs-light);
}

p, span {
  color: var(--bs-light)
}

i {
  color: var(--bs-light);
}

.nav-logo {
  font-size: 30pt;
}

.input-group {
  background-color: var(--success-color);
}

#header {
  border-bottom: 1px solid var(--success-color);
  box-shadow: rgb(6, 214, 160, 0.1) 0px 10px 10px;
}