:root {
  --max-width: 1000px;
  --bg-color: #333533;
  --grey: #343a40;
  --light: #fcfcfc;
  --dark: #242423;
  --default-text-color: #fcfcfc;
  --accent-color: #f5cb5c;
  --primary-color: #118ab2;
  --danger-color: #ef476f;
  --warning-color: #ffd166;
  --success-color: #06d6a0;
  --secondary-color: #e8eddf;
}

/* background-image: linear-gradient(to right, #118ab2, #00a5ae, #3ebb8f, #9bc969, #f5cb5c); */
/* General Style */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  background-color: var(--bg-color);
  background-image: url('../images/black-linen.png');
  color: var(--default-text-color);
  caret-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
input:focus,
select {
  color: inherit;
  outline: none;
  border: none;
  background: none;
  border-radius: 0;
}

img {
  object-fit: cover;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.section-title {
  width: 100%;
  font-size: 25pt;
  border-bottom: 1px solid var(--primary-color);
}

.container {
  display: flex;
  align-items: flex-start;
  max-width: var(--max-width);
  margin: auto;
  padding: 0 0.5rem;
}

.container > * {
  vertical-align: top;
}

.sort-panel {
  width: 100%;
  justify-content: space-between;
  background-color: var(--dark);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: #118ab266 -5px 5px;
  padding: 1rem;
}

.search-field {
  width: 100%;
  max-width: calc(0.4 * var(--max-width));
}

.search-field > input {
  width: 100%;
  max-width: calc(0.2 * var(--max-width));
  padding-left: 0.25rem;
  caret-color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.4s ease-out;
}

.search-field > input:focus {
  max-width: calc(0.35 * var(--max-width));
}

.sort-combo {
  padding: 0 0.25rem;
  font-size: 11pt;
  border-bottom: 1px solid var(--primary-color);
}

.sort-combo > label {
  color: var(--light);
}

.sort-combo > select {
  background-color: var(--dark);
}

.catalog {
  width: 100%;
  padding: 1rem;
  gap: 1rem;

  background-color: var(--dark);
  max-width: calc(0.25 * var(--max-width));
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: #118ab266 -5px 5px;
}

.catalog > .title {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px dashed var(--primary-color);
}

.catalog > .title > span {
  font-weight: 800;
  margin-left: 0.5rem;
}

.catalog > ul {
  padding-left: 0.25rem;
}

.catalog > ul > li:not(:first-child) {
  padding-top: 0.5rem;
}

.items {
  width: 100%;
  padding-bottom: 2rem;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem 0;
}

.item {
  position: relative;
  height: 100%;
  max-width: calc(0.22 * var(--max-width));
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  background-color: var(--dark);
  border-radius: 5px;
  box-shadow: #118ab266 0px 5px 20px -10px;
}

.item > * {
  cursor: pointer;
}

.item-image {
  display: block;
  max-width: 100%;
  min-height: calc(0.21 * var(--max-width) - 0.25rem);
  border-radius: 5px;
}

.item-full-image {
  display: block;
  width: 100%;
  max-width: calc(0.5 * var(--max-width));
  margin: auto;
  border-radius: 1rem;
}

.item-description {
  font-size: 11pt;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem 0;
  border-top: 1px dashed var(--primary-color);
}

.item-full-description {
  display: block;
  width: 100%;
  max-width: calc(0.5 * var(--max-width));
  margin: auto;
}

.item-description > span {
  display: block;
}

.item-description > .title {
  font-style: italic;
}

.item-description > .price {
  margin-top: auto;
  padding-top: 0.25rem;
}

.item-remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--danger-color);
  border: none;
  border-radius: 0.75rem;
  color: var(--light);
}

.btn {
  width: 100%;
  height: 2rem;
  color: inherit;
  background-color: var(--dark);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn-primary {
  border: 2px solid var(--primary-color);
}

.btn-default {
  border: 2px solid var(--light);
}

.btn-danger {
  border: 2px solid var(--danger-color);
}

.btn-warning {
  border: 2px solid var(--warning-color);
}

.btn-success {
  border: 2px solid var(--success-color);
}

/* navbar */

#header {
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  background: var(--dark);
  border-bottom: 1px solid var(--primary-color);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 0;
  font-size: 14pt;
}

#nav-toggle {
  display: none;
}

#nav-logo > i {
  font-size: 2em;
}

#nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

#main {
  width: 100%;
}

#main > * {
  padding-top: 1rem;
}
