{% extends 'base.html' %}

{% comment %} To implement {% endcomment %}
{% comment %} Link admin_customers list page {% endcomment %}
{% comment %} Link admin_requests list page {% endcomment %}

{% load static %}
{% block title %}
  Admin dashboard | Shoe store platform
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Admin DashBoard</h1>
      

      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#">change registered user status </a>
          </li>
          <li class="list-group-item">
            <a href="#"></a>
          </li>
        </ul>
      </div>  
    </div>
  </div>
{% endblock content %}