{% extends "base.html" %}
{% load static %}
{% block title %}
  Cart | Shoe store
{% endblock title %}
{% block content %}
  <section class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Cart</h1>
      </div>
    </div>
    <div class="row">
      {% if cart %}
        <div class="d-flex justify-content-evenly">
          {% for item in cart.items.all %}
            <div class="card">
              <img class="card-img" src="{{ item.picture.url }}" alt="shoes">
              <div class="card-body bg-dark">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text"> 
                  <span>Rating: {{ item.rating }}</span>
                  <span style="float: right;">${{ item.price }}</span>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h3>No items available!</h3>
      {% endif %}
    </div>
  </section>
    {% comment %} {% if cart %}
    <div class="items">
      <ul class="items-list">
        {% for item in cart.items.all %}
        <li class="items-list-item">
          <div class="item">
            <a class="item-remove-btn" href="{% url 'remove_from_cart' item.id %}">X</a>
            <a href="/items/{{item.id}}">
              <img class="item-image" src="{{ item.picture.url }}" alt="shoes">
              <div class="item-description">
                <span class="title">{{ item.title }}</span>
                <span class="rating">Rating: {{ item.rating }}</span>
                <span class="price">${{ item.price }}</span>
              </div>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
    {% endif %} {% endcomment %}
{% endblock content %}