{% extends "base.html" %}
{% load static %}
{% block title %}
  Cart | Shoe store
{% endblock title %}
{% block content %}
  <section class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Cart</h1>
      </div>
    </div>
    {% if cart|length %}
    <div class="row mb-3">
      <div class="d-flex justify-content-evenly">
        {% for cart_item in cart %}
          <div class="card">
            <img class="card-img" src="{{ cart_item.item.picture.url }}" alt="shoes">
            <div class="card-body bg-dark">
              <h5 class="card-title">{{ cart_item.item.title }}</h5>
              <p class="card-text"> 
                <span>Rating: {{ cart_item.item.rating }}</span>
                <span style="float: right;">${{ cart_item.item.price }}</span>
              </p>
            </div>
            <div class="card-footer w-100">
              <div class="d-grid">
                <a class="btn btn-outline-danger" href="{% url 'remove_from_cart' cart_item.id %}">Remove</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-evenly pt-3" style="border-top: 1px solid var(--success-color)">
        <a class="btn btn-outline-success" href="{% url 'checkout' %}">Checkout</a>
      </div>
    </div>
    {% else %}
      <h3>Your cart is empty!</h3>
    {% endif %}
  </section>
    {% comment %} {% if cart %}
    <div class="items">
      <ul class="items-list">
        {% for item in cart.items.all %}
        <li class="items-list-item">
          <div class="item">
            <a class="item-remove-btn" href="{% url 'remove_from_cart' item.id %}">X</a>
            <a href="/items/{{item.id}}">
              <img class="item-image" src="{{ item.picture.url }}" alt="shoes">
              <div class="item-description">
                <span class="title">{{ item.title }}</span>
                <span class="rating">Rating: {{ item.rating }}</span>
                <span class="price">${{ item.price }}</span>
              </div>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
    {% endif %} {% endcomment %}
{% endblock content %}