{% extends 'base.html' %}
{% load static %}
{% load user_extras %}

{% block title %}
    Checkout | Our site
{% endblock title %}
{% block content %}
  <section class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Checkout</h1>
      </div>
    </div>
    {% if order_items %}
    <div class="row">
      <div class="col-4">
        <ul class="list-group">
          {% for order_item in order_items %}
            <li class="list-group-item">{{order_item.item.title}}: x{{order_item.quantity}} <span style="float: right;">${{order_item.quantity | multiply:order_item.item.price}}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
      <div class="d-flex justify-content-center">
        <a class="btn btn-success" href="#">Pay</a>
      </div>
    </div>
    {% endif %}
  </section>
{% endblock content %}