{% extends 'base.html' %}
{% load static %}

{% block title %}
    Checkout | Shoe store platform
{% endblock title %}
{% block content %}
  <section class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Checkout</h1>
      </div>
    </div>
    {% if order_items %}
    <div class="row">
      <div class="col-5 offset-2">
        <form class="mb-5" method="POST">
          {% csrf_token %}
          {{formset.as_p}}
          <button class="btn btn-success w-100" type="submit">Pay</button>
        </form>
      </div>
      <div class="col-4">
        <div class="title mb-2">
          <span class="fw-bold">Your order</span>
        </div>
        <ul class="list-group mb-3">
          {% for order_item in order_items %}
            <li class="list-group-item">{{order_item.item.title}}: x{{order_item.quantity}}<span style="float: right;">${{order_item.price}}</span></li>
          {% endfor %}
          <li class="list-group-item fw-bold">Total:<span style="float: right;">${{total_price}}</span></li>
        </ul>
      </div>
    {% endif %}
  </section>
{% endblock content %}