{% extends 'base.html' %}
{% comment %} To implement {% endcomment %}
{% load static %}
{% block title %}
    Login | Shoe store platform
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="section-title my-3">
          <h1>Login</h1>
      </div>
    </div>
    <div class="row">
      <div class="offset-4 col-4">
        <form action="" method=POST>
          {% csrf_token %}
          <form>
            <div class="mb-3">
              <label style="color:white;" for="exampleInputEmail1" class="form-label">Email</label>
              <input type="text" class="form-control" placeholder="Email" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label style="color:white;" for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}