{% extends 'base.html' %}
{% load static %}
{% block title %}
  Profile | Our site
{% endblock title %}
{% block content %}
  <div class="container">
    {% if error_message %}
      {{ error_message }}
    {% endif %}
    {% if username %}
      <p>username: {{username}}</p>
      <p>email: {{email}}</p>
      {{ CustomerForm }}
    {% endif %}
    <input href="{% url 'edit_profile' %} class="btn btn-primary" type="button" value="Update details">
    {% comment %} {% if avatar %}
      <img  src="{{ avatar.url }}" alt="profile-avatar">
    {% endif %} {% endcomment %}
    <br>
    <a href="{% url 'orders' %}">Orders</a>
  </div>
{% endblock content %}