{% extends 'base.html' %}
{% comment %} To implement {% endcomment %}
{% load static %}
{% block title %}
  Register-Business | Our site
{% endblock title %}
{% block content %}
  <section class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Business registration</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-4">
        <form action="POST" class="mb-5">
          {% csrf_token %}
          {{formset.as_p}}
          <button class="btn btn-outline-primary w-100" type="submit">Register</button>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}