{% extends 'base.html' %}
{% comment %} To implement {% endcomment %}
{% load static %}
{% block title %}
  Register | Shoe store platform
{% endblock title %}
{% block content %}
  <div class="container" >
    <div class="row">
      <div class="section-title my-3">
        {% if form.errors%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <p>There was an error with your form!</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
          <h1>Register</h1>
      </div>
    </div>
      <div class="container offset-4 col-4" style="background-color:#F05454">
        <form action="{%url 'register'%}" method=POST>
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit">
        </form>
      </div>
  </div>
{% endblock content %}