{% extends 'base.html' %}

{% comment %} To implement {% endcomment %}
{% comment %} Link store orders page {% endcomment %}
{% comment %} Link store return requests page {% endcomment %}
{% comment %} Link new store item page {% endcomment %}
{% comment %} Link store item page {% endcomment %}

{% load static %}
{% block title %}
  Store dashboard | Shoe store platform
{% endblock title %}
{% block content %}
  <section class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Store dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <ul class="list-group">
          <li class="list-group-item"><a href="{% url 'store return requests' %}">Return requests</a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock content %}