{% extends "base.html" %}
{% load static %}
{% block title %}
  Wishlist | Shoe store
{% endblock title %}
{% block content %}

  <section class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Wishlist</h1>
      </div>
    </div>
    <div class="row">
      {% if wishlist|length %}
        <div class="d-flex justify-content-evenly">
          {% for item in wishlist %}
            <div class="card">
              <a href="{% url 'item' item.id %}">
                <img class="card-img" src="{{ item.picture.url }}" alt="shoes">
              </a>
              <div class="card-body bg-dark">
                <a href="{% url 'item' item.id %}">
                  <h5 class="card-title">{{ item.title }}</h5>
                </a>
                <p class="card-text"> 
                  <span>Rating: {{ item.rating }}</span>
                  <span style="float: right;">${{ item.price }}</span>
                </p>
              </div>
              <div class="card-footer w-100">
                <div class="d-grid">
                  <a class="btn btn-outline-danger" href="{% url 'remove_from_wishlist' item.id %}">Remove</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h3>Your wishlist is empty!</h3>
      {% endif %}
    </div>
  </section>
  {% comment %} <section class="container">
    <div class="row">
      <div class="section-title my-3">
        <h1>Wishlist</h1>
      </div>
    </div>
    <div class="row">
      {% if wishlist|length %}
      <div class="d-flex justify-content-evenly">
        <ul class="items-list">
          {% for item in wishlist %}
          <li class="items-list-item">
            <div class="item">
              <a class="item-remove-btn" href="{% url 'remove_from_wishlist' item.id %}">X</a>
              <a href="{% url 'item' item.id %}">
                <img class="item-image" src="{{ item.picture.url }}" alt="shoes">
                <div class="item-description">
                  <span class="title">{{ item.title }}</span>
                  <span class="rating">Rating: {{ item.rating }}</span>
                  <span class="price">${{ item.price }}</span>
                </div>
              </a>
            </div>
          </li>
          {% endfor %}
        </ul> 
      </div>
      {% else %}
      <h3>Your wishlist is empty!</h3>
      {% endif %}
    </div>
  </section> {% endcomment %}
{% endblock content %}
